<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shop.dao.UserDao">
    <select id="login" resultType="com.shop.entity.SeckillUser">
        select * from seckill_user where nickname=#{arg1} and password=#{arg2}
    </select>
    <insert id="insertUser">
        insert into seckill_user(nickname,password)value (#{nickname},#{password})
    </insert>
</mapper>